.name {
  text-align: center;
  padding: 25px 50px;
  margin-top: 25px;
}
.container {
  margin: 0 5em 10em;
  padding: 25px;
  position: relative;
  background-color: rgb(243, 235, 209);
}
h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 55px;
  text-align: center;
}
.buttonform {
  padding: 0px;
  margin: 5px 0px 15px;
}
button {
  position: relative;
  padding: 5px;
  margin: 0;
  background-color: rgb(207, 226, 232);
  cursor: pointer;
  display: flex;
  align-items: stretch;
}
button:hover {
  color: #ffffff;
  background-color: rgb(230, 220, 179);
}
button:active {
  background-color: #261c1c;
}
.container button td {
  color: black;
  font-family: sans-serif;
  font-size: 15px;
  width: 100%;
  margin: 15px;
}
tr {
  display: grid;
}

.area h2 {
  font-family: sans-serif;
  color: rgb(238, 227, 227);
  display: inline-block;
  padding: 15px;
  margin: 15px;
  color: rgb(62, 7, 7);
  border-style: none;
  text-align: center;
}

.area button {
  border: none;
  background-color: #f39797;
  color: rgba(225, 225, 200, 0.879);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100%;
  box-shadow: 0 8px 8px 0;
}
.area button:hover {
  background-color: rgb(173, 192, 190);
}
.area button:active {
  background-color: #be7070;
  transform: translateY(2px);
}
.photo {
  width: 150px;
  height: 150px;
  float: left;
}
input {
  width: 450px;
  padding: 2px 20px;
  margin: 10px 0px;
  height: 35px;
}
